<style>
  .uk-table th {
    text-align: right;
  }
</style>

<div class="uk-padding ">
  <!--Something wrong with directions, the"<th>" doess not sit in the right of the cell-->
  <table class="uk-table uk-table-striped">
    <thead>
      <tr>
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>province</th>
        <th>skill</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemArray">

        <td>{{item.name}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.email}}</td>
        <td>{{item.province}}</td>
        <td>{{item.skill}}</td>
        <td>{{item.price}}</td>

      </tr>
    </tbody>
  </table>
</div>