<form class='uk-padding'>
  <div class="uk-card uk-card-defult uk-card-body">
    <fieldset class="uk-fieldset">
      <h3 class="uk-card-title">التسجيل</h3>

      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="الاسم" name="name" [(ngModel)]="name">
      </div>

      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="البريد الألكتروني" name="email" [(ngModel)]="email">
      </div>

      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="كلمة السر" name="password" [(ngModel)]="password">
      </div>

      <button class="uk-button uk-button-primary" (click)="myRegister()">التسجيل</button>
    </fieldset>
  </div>
</form>
